doctype html
html
  head
    meta(charset='UTF-8')
    title supersynth
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')
    script(src='javascripts/synth.js')
    script(src='javascripts/ajax.js')
    link(rel='stylesheet', href='stylesheets/synth.css', type='text/css')
  body


    table.table

           each synthObject in docs
            tr #{synthObject.patchName}

                 each item in synthObject.synths
                         li     #{item.synth_name} #{item.xpos} #{item.ypos}


           
                 
            
         
          
               
                 
                 

 
