doctype html
html
  head
    meta(charset='UTF-8')
    title supersynth
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')
    //- script(src='javascripts/synth.js')
    script(src='../javascripts/synth.js')
    script(src='../javascripts/touchpunch/touchpunch.js')
    link(rel='stylesheet', href='../stylesheets/synth.css', type='text/css')
  body



    button#new-synth(name='synth-name', type='submit')
      | New synth


    form(role='form', method='post', action='/')
      input#patch-name(name='patch', type='form')
      button#submit-patch(name='submit-patch', type='submit') Save patch

    
      #app  
        #application-patch-list
        #application-area
         