    body {
        width:100%;
        height:100%;
         background-color:rgb(52, 7, 77);
    }
    .synthDiv {
        position:absolute;
        left:0px;
        top:0px;
        width:100px;
        height:100px;
        border-radius:50%;
        border-color:grey;
        border-style:solid;
        border-width:5px;
        background-color:rgb(255, 145, 0);
    }
    body {
        width:100%;
        height:100%;
    }

        .navbar-inverse {
        background-color: #BC1DAB;
        border-color: #EF5400;
        }
    .synthDivHandle{
        
       position: absolute;
       border-radius: 50px;
       top: 100px;
       width: 40px;
       height: 40px;
       background-color: grey;
}
    }

    #form-container{
        position:absolute;
        top:100px;

    }

  
    #application-area {
        top:200px;
        position:relative;
        border-style:solid;
        border-width:3px;
        border-color:grey;
        position:absolute;
        width:70%;
        height:100%;
        background-color:rgb(64, 30, 72);
    }
   #application-patch-list{

        position:relative;
        top:45px;
        float:right;
        height:600px;
 
        font-size:30px;
        color:grey;
        list-style: none;
        padding-left:10;
    }

    .button-container{
        position:relative;
        padding:10px;
        top:60px;
    }
    #patch-name{
        position:relative;
        width:200px;
        top:-27px;
        left:320px;

    }

    .button-primary{
        width:100px;
        height:100px;
    };

    #app{
        position:relative;
    }

 
 .navbar-inverse {
background-color: #BC1DAB;
border-color: #EF5400;
border-width: 2px;
}