    body {
        width:100%;
        height:100%;
         background-color:rgb(52, 7, 77);
    }
    .synthDiv {
        position:absolute;
        left:0px;
        top:0px;
        width:100px;
        height:100px;
        border-radius:50%;
        border-color:grey;
        border-style:solid;
        border-width:5px;
        background-color:rgb(255, 145, 0);
    }
    body {
        width:100%;
        height:100%;
    }

        .navbar-inverse {
        background-color: #BC1DAB;
        border-color: #EF5400;
        }
    .synthDivHandle{
        
       position: absolute;
       border-radius: 50px;
       left:-5px;
       top: 100px;
       width: 40px;
       height: 40px;
       background-color: grey;
}
    }


    #big-buttons{
        background-color:green;
        position:absolute;
        width:100%;
        height:40px;
    }

    #form-container{
        position:absolute;
        top:100px;

    }
      
      #global-controls-container {
        top:90px;
        position:relative;


      }

      #delay-length-container{
        top:0px;
        position:absolute;
        left:140px;

   
      }

      #delay-amount-container{
            top:0px;
        position:absolute;
        left:280px;
      }
  
    #application-area {
        top:290px;
        position:relative;
        border-style:solid;
        border-width:3px;
        border-color:grey;
        position:absolute;
        width:70%;
        height:100%;
        background-color:rgb(64, 30, 72);
    }
   #application-patch-list{

        position:relative;
        top:140px;
        float:right;
        height:600px;
 
        font-size:30px;
        color:grey;
        list-style: none;
        padding-left:10;
    }

    .button-container{
        width:50%;
        position:relative;
        padding:10px;
        top:100px;
    }


    #patch-name{
        position:absolute;
        width:200px;
        top:10px;
        left:230px;
        float:right;

    }

    .button-primary{
        width:100px;
        height:100px;
    };


    #app{
        position:relative;
    }

    #clear-synths{
    position:absolute;
    
}
#submit-patch{
    position:absolute;
    left:100px;
}
 
 .navbar-inverse {
background-color: #BC1DAB;
border-color: #EF5400;
border-width: 2px;
}

